h3{
    margin: 10px;
    padding-left: 40%;
}
.form-group{
    width: 50%;
    margin: 10px auto;
    padding: 20px;
    color: #5d627b;
    background-color: #efe8d8;
    border: solid #5d627b;
}

.field{
    width: 50%;
    margin: 10px auto;
    padding: 20px;
    color: #5d627b;
    background-color: #efe8d8;
    border: solid #5d627b;
    
}

.post-btn{
    width: 20%;
    margin: 10px auto;
    padding: 20px;
    border-radius : 40px;
    border: solid #5d627b;
    text-align: center;
}